body {
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  display: block;
  margin-bottom: 10px;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-field input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.form-field input[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: #FF0000;
}
h1{
text-align: center;
}